@keyframes navahover {
    0% {

    }

    100% {
        /* background-color: white; */
        color:#b4b9cc;
        /* border: white 2px solid; */
    }
}

@keyframes linkhover {
    0% {

    }

    100% {
        background-color: #b4b9cc;
        /* color: white; */
    }
}

* {
    margin: 0px;
    padding: 0px;
}

.nav {
    background-color: #2f354f;
    display: flex;
    flex-direction: row;
}

.netlifylogin ul li {
    list-style-type: none;
    text-decoration: none;
}

.netlifylogin ul {
    display: flex;
    flex-direction: row;
    padding-top: 4vh;
}

.netlifylogin a {
    color: white;
    text-decoration: none;
    padding: 2vh;
    margin: 2vh;
}

.account {
    color: white;
    text-decoration: none;
    padding: 2vh;
    margin: 2vh;
}

.account:hover {
    animation: navahover 1s forwards;
}

.netlifylogin a:hover {
    animation: navahover 1s forwards;
}

.netlify-identity-user {
    color: white;
}

.netlify-identity-item {
    color: white;
}

.navul {
    display: flex;
    flex-direction: row;
}

.nava {
    margin:2vh;
    padding: 2vh;
    /* border: 2px solid black; */
    color: white;
    text-decoration: none;
}

.nava:hover {
    animation: navahover 1s forwards;
}

.navli {
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: row;
}

.make {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3vh;
}

.image {
    width: 300px;
}

.link {
    text-decoration: none;
    color: #2f354f;
    border: 2px solid #2f354f;
    margin: 2vh;
    border-radius: 25px;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.link:hover {
    animation: linkhover 1s forwards;
}