@keyframes navahover {
    0% {

    }

    100% {
        /* background-color: white; */
        color:#b4b9cc;
        /* border: white 2px solid; */
    }
}

* {
    margin: 0px;
    padding: 0px;
}

.nav {
    background-color: #2f354f;
}

.navul {
    display: flex;
    flex-direction: row;
}

.nava {
    margin:2vh;
    padding: 2vh;
    /* border: 2px solid black; */
    color: white;
    text-decoration: none;
}

.nava:hover {
    animation: navahover 1s forwards;
}

.navli {
    list-style-type: none;
}

.hero {
    
}